{% extends 'base.html' %}
{% load music_extras %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/{{ service_type }}">{{ reading_type }}</a></li>
  <li><a href="/{{ service_type }}/{{ book.name }}/">{{ book.display }}</a></li>
  <li><a href="/{{ service_type }}/{{ book.name }}/{{ parsha.name }}/">{{ parsha.display }}</a></li>
  <li class="active">{{ song }}</li>
</ol>
<div id="moreInfo">
		
	<div class="col-sm-6">
		<div class="list-group">
			{% if service_type == 'trd' %}
				<h3>{{ parsha.display }}</h3>
	        {% endif %}
	        <h3>{{ song }} - {{ reading_type }}</h3>
	        {% for x in audio_files %}
		    <div class="list-group-item">
			    <a href="{% URL_PREFIX %}{{x.s3_obj_key}}">
			        <h4 class="list-group-item-heading">{{  x.file_name }}</h4></a>
			    <p class="list-group-item-text">
			        <audio src="{% URL_PREFIX %}{{x.s3_obj_key}}" type="audio/mpeg" controls></audio></p>
			</div>
	        {% endfor %}
		</div>
	</div>
	
	<div class="col-sm-6">
		<h3><a href="{% URL_PREFIX %}{{lyric_doc.0.s3_obj_key}}" download>Download the Lyrics PDF Document</a></h3>
		<div class="tabbable">
			<ul class="nav nav-pills">
				<li class="active"><a href="#tab1" data-toggle="tab">Page 1</a></li>
				{% if lyric_pages > 1 %}
				<li><a href="#tab2" data-toggle="tab">Page 2</a></li>
				{% endif %}
				{% if lyric_pages > 2 %}
				<li><a href="#tab3" data-toggle="tab">Page 3</a></li>
				{% endif %}
			</ul>
 			<div class="tab-content">
					<div class="tab-pane active" id="tab1">
						<div class="panel" style="border: none;">
							<img src="{% URL_PREFIX %}{{lyric_files.0.s3_obj_key}}" alt="page1" class="img-responsive lyric-img-style">
						</div>
					</div>
				<div class="tab-pane" id="tab2">
					<div class="panel"  style="border: none;">
						<img src="{% URL_PREFIX %}{{lyric_files.1.s3_obj_key}}" alt="page2" class="img-responsive  lyric-img-style" 
						style="padding: 20px 5px 5px 5px; border: None;">
					</div>
				</div>
				<div class="tab-pane" id="tab3">
					<div class="panel">
						<img src="{% URL_PREFIX %}{{lyric_files.2.s3_obj_key}}" alt="page3" class="img-responsive  lyric-img-style">
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}
